
p{
  display:inline-block;
  padding: 20px;
}
header{
  color: black;
  grid-row: 2/ span 1;
  grid-column: 1/-1;
}
header h1{
  padding: 30px 0 0 0;
  background-color:#d4dbe6;
}
.me{
display: grid;
grid-template-columns: 5vw 90vw 5vw;
grid-template-rows: 40vh auto;
justify-content: center;
align-items: center;
}
.me img{
grid-column: 2 / span 1;
grid-row: 1/ span 1;
object-fit: scale-down;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
background-color:#d4dbe6;
}
.me p{
grid-column: 2 / span 1;
background-color:#d4dbe6;
grid-row: 2/ span 1;
text-align: center;
}

.vheader{
background-color: #cfca9f;
}
.vcontainer{
display: grid;
grid-template-columns: 5vw auto auto auto auto auto 5vw;
grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
text-align: center;
background-color: #cfca9f;
}
.vcontainer p{
grid-column: 2/7;
grid-row: 1 / span 1;
background-color: #cfca9f;
padding: 0 0 30px 0;
margin:0;
}
.vcontainer h3{
grid-row: 3/ span 1;
background-color: #cfca9f;
justify-content: center;
align-self: center;
z-index: 2;
font-size: 4vw;
text-align: center;
}
.vcontainer img{
object-fit: cover;
grid-row: 2/ span 3;
object-fit: cover;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
}
.vcontainer img:nth-child(1), .vcontainer h3:nth-child(6){
grid-column: 2 /span 1;
}
.vcontainer img:nth-child(2), .vcontainer h3:nth-child(7){
grid-column: 3 /span 1;
}
.vcontainer img:nth-child(3), .vcontainer h3:nth-child(8){
grid-column: 4 /span 1;
}
.vcontainer img:nth-child(4), .vcontainer h3:nth-child(9){
grid-column: 5 /span 1;
}
.vcontainer img:nth-child(5),.vcontainer h3:nth-child(10){
grid-column: 6 /span 1;
}
.pcontainer{
display: grid;
grid-template-columns: 5vw  25vw 20vw 20vw  25vw 5vw;
grid-template-rows: auto auto 40vw auto;
justify-content: center;
padding: 0 0 100px 0;
}
.pheader{
padding: 100px 0 0 0;
}
h3{
text-align: center;
}

.pcontainer img{
grid-row: 3/span 1;
object-fit: cover;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
}
.pcontainer p:first-of-type, .pcontainer img:first-of-type, .pcontainer h3:first-of-type{
grid-column: 2/ 4;
}
.pcontainer p:last-of-type, .pcontainer img:last-of-type, .pcontainer h3:last-of-type{
grid-column: 4/ 6;
}
.pcontainer h3{
grid-row: 1/ span 1;
text-align: center;
}
.pcontainer p:first-of-type{
grid-row: 4/ span 1;
text-align: center;
}
.pcontainer p:last-of-type{
grid-row: 4/ span 1;
text-align: center;
}
.first{
grid-row: 2/ span 1;
grid-column: 1 /-1;
text-align: center;
}
.fleximage{
display: flex;
align-items: center;
justify-content: center;
max-width: 40vw;
margin:auto;
padding: 5px 0 30px;
}
.ccontainer{
text-align: center;
display:grid;
grid-template-columns: 5vw 40vw 10vw 40vw 5vw;
grid-template-rows: auto 20vh;
}
.ccontainer img{
object-fit: cover;
grid-row: 2 /span 1;
grid-column: 2 /span 1;
object-fit: scale-down;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
z-index: -1;
}
.ccontainer a{
grid-row: 2/ span 1;
text-decoration: none;
font-size: 25px;
line-height: 1.5;
font-family: athelas, serif;
color:black;
}
.thirda, .fourtha{

justify-content: center;
align-self: center;
z-index: 3;
text-align: center;
}
.firsta,.thirda{
grid-column: 2 /span 1;
}
.seconda,.fourtha{
grid-column: 4/ span 1;
}
.ccontainer p{
grid-row: 1 / span 1;
grid-column: 1 / -1;
}
@media all and (min-width: 800px){

.vcontainer h3{
  font-size: 3.5vw;
}
.vcontainer{
  display: grid;
  grid-template-columns: 5vw auto auto auto auto auto 5vw;
  grid-template-rows: 10vh 20vh 20vh 20vh 10vh;
  text-align: center;
  background-color: #cfca9f;
}
.me{
  display: grid;
  grid-template-columns: 5vw 20vw 70vw 5vw;
  grid-template-rows: 40vh;
  padding: 30px 0;
  padding: 0 0 100px 0;
}
.me img{
  grid-column: 2 / span 1;
  grid-row: 1 /-1;
  object-fit: scale-down;
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  background-color:#d4dbe6;
}
.me p{
  grid-row: 1 /-1;
  grid-column: 3 / span 1;
  background-color:#d4dbe6;
  text-align: left;
}


}


@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; 
  }
.skip a{
    -webkit-transition: none; 
    transition: none;        
  }
}
