
p{
  display:inline-block;
  padding: 20px;
}
header{
  color: black;
  grid-row: 2/ span 1;
  grid-column: 1/-1;
}
header h1{
  padding: 30px 0 0 0;
  background-color:#d4dbe6;
}
.me{
display: grid;
grid-template-columns: 5vw 90vw 5vw;
grid-template-rows: auto;
justify-content: center;
align-items: center;
padding: 0 0 100px 0;
}
.me img{
grid-column: 2 / span 1;
grid-row: 1/ span 1;
object-fit: scale-down;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
background-color:#d4dbe6;
justify-self: center;
}
.me p{
grid-column: 2 / span 1;
background-color:#d4dbe6;
grid-row: 2/ span 1;
text-align: center;
}
.cool{
  display:grid;
  grid-template-columns: 100vw;
  grid-template-rows: 300px;
  height: 100px;
  width:100vw;
  overflow: hidden;
}
.image1c{
  position:relative;
  animation: moveoff 4s linear infinite;
}
.image2c{
  position:relative;
  left:100vw;
  animation: moveon 4s linear infinite;
}
@keyframes moveoff {
  0% {
    left:0vw;
  }
  100% {
    left:-100vw;
  }
}
@keyframes moveon {
  0% {
    left:100vw;
  }
  100% {
    left:0vw;
  }
}
.cool img{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  height:100px;
}
.vheader{
background-color:#cfca9f;
}
.vcontainer{
display: grid;
grid-template-columns: 5vw auto auto auto 5vw;
grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
text-align: center;
background-color: #cfca9f;
}
.hhide{
  visibility:visible;
}
.vcontainer p{
grid-column: 2/span 3;
grid-row: 1 / span 1;
background-color: #cfca9f;
padding: 0 0 30px 0;
margin:0;
}
.vcontainer h3{
  grid-column: 3/ span 1;
  background-color: #cfca9f;
  justify-content: center;
  align-self: center;
  z-index: 2;
  font-size: 5vw;
  text-align: center;
  padding: 0 20px;
}
.vcontainer h3:hover, .vcontainer:focus h3{
  -webkit-animation: gradient 4s infinite ease-in-out;
  -moz-animation: gradient 4s infinite ease-in-out;
  -o-animation: gradient 4s infinite ease-in-out;
  animation: gradient 4s infinite ease-in-out;
}
.vcontainer img{
  object-fit: cover;
  grid-column: 2/ span 3;
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
}
.vcontainer img:nth-child(12), .vcontainer h3:nth-child(7){
grid-row: 2 /span 1;
}
.vcontainer img:nth-child(13), .vcontainer h3:nth-child(8){
grid-row: 3 /span 1;
}
.vcontainer img:nth-child(14), .vcontainer h3:nth-child(9){
grid-row: 4 /span 1;
}
.vcontainer img:nth-child(15), .vcontainer h3:nth-child(10){
grid-row: 5 /span 1;
}
.vcontainer img:nth-child(16),.vcontainer h3:nth-child(11){
grid-row: 6 /span 1;
}
.vhide{
  visibility:hidden;
  display:none;
}
.pcontainer{
display: grid;
grid-template-columns: 5vw  90vw 5vw;
grid-template-rows: auto auto 60vw auto auto 60vw auto;
justify-content: center;
padding: 0 0 100px 0;
}
.pheader{
padding: 100px 0 0 0;
}
h3{
text-align: center;
}
.pcontainer img{
  object-fit: cover;
  width:60vw;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
  }
.first, .pcontainer img:nth-child(3), .pcontainer h3:nth-child(2), .pcontainer p:nth-child(4), .pcontainer p:nth-child(7), .pcontainer img:nth-child(6), .pcontainer h3:nth-child(5){
  grid-column: 2/ span 1;
  }
.first{
  grid-row: 1/ span 1;
  text-align: center;
  }
.pcontainer h3:nth-child(2){
  grid-row: 2/ span 1;
  text-align: center;
  }
.pcontainer img:nth-child(3){
  grid-row: 3/ span 1;
  }
.pcontainer p:nth-child(4){
  grid-row: 4/ span 1;
  text-align: center;
  }
.pcontainer h3:nth-child(5){
  grid-row: 5/ span 1;
  text-align: center;
  }
.pcontainer img:nth-child(6){
    grid-row: 6/ span 1;
  }
.pcontainer p:nth-child(7){
  grid-row: 7/ span 1;
  text-align: center;
  }

.fleximage{
display: flex;
align-items: center;
justify-content: center;
max-width: 40vw;
margin:auto;
padding: 5px 0 30px;
}
.ccontainer{
text-align: center;
display:grid;
grid-template-columns: 5vw 40vw 10vw 40vw 5vw;
grid-template-rows: auto 20vh;
}
.ccontainer img{
object-fit: cover;
grid-row: 2 /span 1;
grid-column: 2 /span 1;
object-fit: scale-down;
width:100%;
height:100%;
max-width: 100%;
max-height: 100%;
z-index: -1;
}

.ccontainer a{
grid-row: 2/ span 1;
text-decoration: none;
font-size: 25px;
line-height: 1.5;
font-family: athelas, serif;
color:black;
}
.thirda, .fourtha{
justify-content: center;
align-self: center;
z-index: 3;
text-align: center;
}
.firsta, .thirda{
grid-column: 2 /span 1;
}
.seconda,.fourtha{
grid-column: 4/ span 1;
}
.ccontainer p{
grid-row: 1 / span 1;
grid-column: 2 / span 3;
}

form {
  margin: 50px 5vw 100px 5vw;
  padding: 1vw;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=checkbox]{
    display:inline;
    width:inherit;
}
input[type=submit] {
  background-color: #cfca9f;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color:black;
  color:#cfca9f;
}
footer p{
  padding:0px;
}
@keyframes gradient{
  50%{color:#784844;}
  68%{color:#447846;}
  75%{color:#445478;}
  83%{color:#4d467a;}
  90%{color:black;}
}
@-moz-keyframes gradient{
  50%{color:#784844;}
  68%{color:#447846;}
  75%{color:#445478;}
  83%{color:#4d467a;}
  90%{color:black;}
}
@-webkit-keyframes gradient{
  50%{color:#784844;}
  68%{color:#447846;}
  75%{color:#445478;}
  83%{color:#4d467a;}
  90%{color:black;}
}
@-ms-keyframes gradient{
  50%{color:#784844;}
  68%{color:#447846;}
  75%{color:#445478;}
  83%{color:#4d467a;}
  90%{color:black;}
}
@media all and (min-width: 800px){
  .hhide{
    visibility:hidden;
    display:none;
  }
  .vhide{
    visibility:visible;
    display:inline;
  }
  .vcontainer h3{
    font-size: 3.5vw;
    padding: 0 0 0 0;
  }
  .vcontainer{
    display: grid;
    grid-template-columns: 5vw auto auto auto auto auto 5vw;
    grid-template-rows: 10vh 20vh 20vh 20vh 10vh;
    text-align: center;
    background-color: #cfca9f;
  }
  .vheader{
    background-color: #cfca9f;
  }
  .vcontainer p{
    grid-column: 2/7;
    grid-row: 1 / span 1;
    background-color: #cfca9f;
    padding: 0 0 30px 0;
    margin:0;
  }
  .vcontainer img{
    object-fit: cover;
    grid-row: 2/ span 3;
    width:100%;
    height:100%;
    max-width: 100%;
    max-height: 100%;
  }
  .vcontainer img:nth-child(2){
    grid-column: 2 /span 1;
    grid-row: 2/ span 3;
    } 
  .vcontainer h3:nth-child(7){
    grid-column: 2 /span 1;
    grid-row: 3/ span 1;
  }
  .vcontainer img:nth-child(3){
    grid-column: 3 /span 1;
    grid-row: 2/ span 3;
  } 
  .vcontainer h3:nth-child(8){
    grid-column: 3 /span 1;
    grid-row: 3/ span 1;
  }
  .vcontainer img:nth-child(4){
    grid-column: 4 /span 1;
    grid-row: 2/ span 3;
  } 
  .vcontainer h3:nth-child(9){
    grid-column: 4 /span 1;
    grid-row: 3/ span 1;
  }
  .vcontainer img:nth-child(5){
    grid-column: 5 /span 1;
    grid-row: 2/ span 3;
  } 
  .vcontainer h3:nth-child(10){
    grid-column: 5 /span 1;
    grid-row: 3/ span 1;
  }
  .vcontainer img:nth-child(6){
    grid-column: 6 /span 1;
    grid-row: 2/ span 3;
  }
  .vcontainer h3:nth-child(11){
    grid-column: 6 /span 1;
    grid-row: 3/ span 1;
    }
  .pcontainer{
    display: grid;
    grid-template-columns: 5vw  25vw 20vw 20vw  25vw 5vw;
    grid-template-rows: auto auto 40vw auto;
    justify-content: center;
    padding: 0 0 100px 0;
    }
  .pheader{
    padding: 100px 0 0 0;
    }
  h3{
    text-align: center;
    }  
  .pcontainer img{
    grid-row: 3/span 1;
    object-fit: cover;
    width:100%;
    height:100%;
    max-width: 100%;
    max-height: 100%;
    }
  .pcontainer p:nth-child(4), .pcontainer img:nth-child(3), .pcontainer h3:nth-child(2){
    grid-column: 2/ 4;
    }
  .pcontainer p:nth-child(7), .pcontainer img:nth-child(6), .pcontainer h3:nth-child(5){
    grid-column: 4/ 6;
    }
  .pcontainer img:nth-child(6){
    grid-row: 3 / span 1;
    }
  .pcontainer p:nth-child(7){
    grid-row: 4 / span 1;
    }
  .pcontainer h3:nth-child(5){
    grid-row: 2 / span 1;
    }
  .first{
    grid-row: 1/ span 1;
    grid-column: 1 / -1;
    }
}


@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; 
  }
.skip a{
    -webkit-transition: none; 
    transition: none;        
  }
.vcontainer h3:hover, .vcontainer:focus h3{
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
input[type=submit]:hover {
  color:black;
  background-color:#cfca9f;
}
}
