
.hcontainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
  }

.hcontainer h1{
  flex:1;
  }
.text-block{
  padding: 5px 30px 30px 30px;
}
.hcontainer h3{
  flex:1;
  text-align: center;
  }
p{
  padding: 2vh 1vw;
  text-align:center;
}
footer p{
  padding: 0px 0px;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 0px 5vw;
  }

img{
  width:100%;
  height:100%;
  object-fit:cover;
  align-self:center;
  }
.flower{
  position:absolute;
  width:5vw;
  height:5vw;
  -webkit-animation: lspin 4s linear infinite;
  -moz-animation: lspin 4s linear infinite;
  -o-animation: lspin 4s linear infinite;
  animation: lspin 4s linear infinite;
}
.f1{
  height:5vw;
  -webkit-animation: rspin 4s linear infinite;
  -moz-animation: rspin 4s linear infinite;
  -o-animation: rspin 4s linear infinite;
  animation: rspin 4s linear infinite;
  top:360px;
  left:4vw;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.f2{
  -webkit-animation: rspin 4s linear infinite;
  -moz-animation: rspin 4s linear infinite;
  -o-animation: rspin 4s linear infinite;
  animation: rspin 4s linear infinite;
  top:345px;
  left:8vw;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.f3{
  -webkit-animation: rspin 4s linear infinite;
  -moz-animation: rspin 4s linear infinite;
  -o-animation: rspin 4s linear infinite;
  animation: rspin 4s linear infinite;
  top:360px;
  left:12vw;
}
.f4{
  top:360px;
  right:4vw;
}
.f5{
  top:345px;
  right:8vw;
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s;
}
.f6{
  top:360px;
  right:12vw;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

@keyframes lspin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes lspin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lspin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-ms-keyframes lspin {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rspin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rspin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rspin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes rspin {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media all and (min-width:600px){
  .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .shirt3-image{
    width: 25vw;
    height: 25vw;
  }
  .shirt2-image{
    width: 25vw;
    height: 25vw;
   }
  .shirt1-image{
    width: 25vw;
    height: 25vw;
  }
  .shirt1c{
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .shirt2c{
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .shirt3c{
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .f1{
    top:305px;
    left:5vw;
  }
  .f2{
    top:290px;
    left:13vw;
  }
  .f3{
    top:305px;
    left:21vw;
  }
  .f4{
    top:305px;
    right:5vw;
  }
  .f5{
    top:290px;
    right:13vw;
  }
  .f6{
    top:305px;
    right:21vw;
  }
}
@media all and (min-width: 800px){
  img{
    object-fit:contain;
    align-self:center;
  }
  .container img{
    object-fit: cover;
  }
  .container{
    align-items: flex-start;
  }
  .shirt3-image{
    width: 25vw;
    height: 25vw;
  }
  .shirt2-image{
    width: 25vw;
    height: 25vw;
   }
  .shirt1-image{
    width: 25vw;
    height: 25vw;
  }
  .shirt1c{
    width: 25vw;
    height: 100%;
    display: inline;
  }
  .shirt2c{
    width: 25vw;
    height: 100%;
    display: inline;
  }
  .shirt3c{
    width: 25vw;
    height: 100%;
    display: inline;
  }
  .container{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
    }
  .f1{
    top:235px;
    left:5vw;
  }
  .f2{
    top:220px;
    left:13vw;
  }
  .f3{
    top:235px;
    left:21vw;
  }
  .f4{
    top:235px;
    right:5vw;
  }
  .f5{
    top:220px;
    right:13vw;
  }
  .f6{
    top:235px;
    right:21vw;
  }
  }


@media screen and (prefers-reduced-motion: reduce){
  .flower{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }
  .f1{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    -webkit-animation-delay: none;
    animation-delay: none;
  }
  .f2{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    -webkit-animation-delay: none;
    animation-delay: none;
  }
  .f3{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }
  .f5{
    -webkit-animation-delay: none;
    animation-delay: none;
  }
  .f6{
    -webkit-animation-delay: none;
    animation-delay: none;
  }
  }
