footer{
  background-color: #cfca9f;
  color: black;
  padding-top: 20px;
  text-align: center;
  position:absolute;
  bottom:0;
  width:100vw;
  z-index: -1;
  }
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
  }
.container h1{
  flex:1;
}

.container p{
    flex:1;
  }