
header{
  color: black;
  grid-row: 2/ span 1;
  grid-column: 1/-1;
}
header h1{
  padding: 30px 0 0 0;
}
header p{
  padding: 10px 25px 5px 25px;
  font-size: 24px;
  text-align: center;

}
header h2{
  padding: 0 13px 0 13px;
}

.fleximage{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  margin:auto;
  padding: 5px 0 30px;
}
.container{
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: repeat(13, auto);
  grid-row-gap: 15px;
  }
.shirt1, .shirt2, .shirt3, .shirt4, .shirt5, .shirt6{
  grid-column: 2 / span 1;
  }
img{
  width:100%;
  height:100%;
  }
.text-block{
  text-align: center;
}
.shirt1-image, .shirt2-image, .shirt3-image, .shirt4-image, .shirt5-image, .shirt6-image{
  grid-column: 2 / span 1; 
  }
.shirt1{
  grid-row: 3/ span 1;
  } 
.shirt1-image{
  grid-row: 2/ span 1;
  }
.shirt2{
  grid-row: 5/ span 1;
  } 
.shirt2-image{
  grid-row: 4/ span 1;
  }
.shirt3{
  grid-row: 7/ span 1;
  } 
.shirt3-image{
  grid-row: 6/ span 1;
  }
.shirt4{
  grid-row: 9/ span 1;
  }
.shirt4-image{
  grid-row: 8/ span 1;
  } 
.shirt5{
  grid-row: 11/span 1;
  }
.shirt5-image{
  grid-row: 10/ span 1;
  } 
.shirt6{
  grid-row: 13/ span 1;
  } 
.shirt6-image{
  grid-row: 12/ span 1;
  }

.loading{
  width: 100%;
  height: 100%;
  background: #d4dbe6;
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 3.1s;
  -moz-transition: visibility 0s linear 3.1s;
  -ms-transition: visibility 0s linear 3.1s;
  -o-transition: visibility 0s linear 3.1s;
  transition: visibility 0s linear 3.1s;
  -webkit-animation: loading 3.1s ease-out;
  -moz-animation: loading 3.1s ease-out;
  -o-animation: loading 3.1s ease-out;
  animation: loading 3.1s ease-out;

}

@media all and (min-width:600px){
  .container{
    display:grid;
    grid-template-columns: 1vw 25vw  auto 1vw;
    grid-template-rows: repeat(8,auto);
  }
  .container img{
    height: 25vw;
    align-self: center;
    justify-self: center;
  }
  .shirt1, .shirt3, .shirt5, .shirt2, .shirt4,.shirt6{
    grid-column: 3/ span 1;
    text-align: left;
  }
  .shirt1-image,.shirt1{
    grid-row: 2/ span 1;
  }
  .shirt2-image,.shirt2{
    grid-row: 3/ span 1;
  }
  .shirt3-image,.shirt3{
    grid-row: 4/ span 1;
  }
  .shirt4-image,.shirt4{
    grid-row: 5/ span 1;
  }
  .shirt5-image,.shirt5{
    grid-row: 6/ span 1;
  }
  .shirt6-image,.shirt6{
    grid-row: 7/ span 1;
  }
  .shirt1-image,  .shirt3-image,.shirt5-image, .shirt2-image,.shirt4-image,.shirt6-image{
    grid-column: 2 /span 1;
    margin:auto;
}
}
@media all and (min-width: 800px){
  img{
    object-fit:cover;
    align-self:center;
  }
  header h2{
    padding: 0 0 50px 0;
  }
  .container{
    display:grid;
    grid-template-columns: 1vw 20vw  1vw 56vw 1vw 20vw 1vw;
  }
  .shirt1, .shirt3, .shirt5{
    grid-column: 4/ span 3;
    text-align: left;
  }
  .shirt2, .shirt4,.shirt6{
    grid-column: 2/ span 3;
    text-align: right;
  }
  .shirt1-image,  .shirt3-image,.shirt5-image{
    grid-column: 2 /span 1;
  }
  .shirt2-image,.shirt4-image,.shirt6-image{
    grid-column:  6/span 1;
  }
}
@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; 
}
.skip a{
  -webkit-transition: none; 
  transition: none;        
 }

.loading{
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.above1{
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
}
@keyframes loading {
  0%{visibility:visible;}
  80% {opacity: 1;}
  90% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:0;}
}
@-moz-keyframes loading {
  0%{visibility:visible;}
  80% {opacity: 1;}
  90% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:0;}
}
@-webkit-keyframes loading {
  0%{visibility:visible;}
  80% {opacity: 1;}
  90% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:0;}
}
@-ms-keyframes loading {
  0%{visibility:visible;}
  80% {opacity: 1;}
  90% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:0;}
}
@keyframes loadingin{
  0%   {opacity:0;}
  10% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
@-moz-keyframes loadingin{
  0%   {opacity:0;}
  10% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
@-webkit-keyframes loadingin{
  0%   {opacity:0;}
  10% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
@-ms-keyframes loadingin{
  0%   {opacity:0;}
  10% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}