
.container{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  padding: 3vw;
}
.flip-card-inner {
  padding: 4px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-style: solid;
  border-color: rgba(0,0,0,.6);;
  border-width: 2px 2px 2px 2px;
  box-shadow: 10px 10px 5px grey;
}
.flip-card-front {
  background-color: #d4dbe6;
  color: black;
}

.flip-card-back {
  background-color: #cfca9f;
  color: black;
  transform: rotateY(180deg);
}
h2{
  text-align: center;
  margin: auto;
  padding:20px;
  align-self: center;
  justify-content: center;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin:auto;
}

@media all and (min-width:600px){}
@media all and (min-width: 800px){
  .flip-card {
    width: 300px;
    height: 300px;   
  }
}
@media screen and (prefers-reduced-motion: reduce){
  .container{
    margin: 0px 0px 0px 0px;
  }
  html{
      scroll-behavior: auto; 
  }
  .flip-card {
    width: 300px;
    height: 500px; 
    margin:auto;  
  }
  .flip-card-inner{
    display:flex;
    flex-direction: column;
  }
  .flip-card-back{
    background-color:rgba(207,	202,	159,.5);
    height:auto;
    width:300px;
    position:static;  
    transform: none;
    box-shadow: none;
    border-width: 0px 2px 2px 2px;
  }

  .flip-card-front{
    height:300px;
    width:300px;
    position:static;
    transform: none;
    box-shadow: none;
    border-width: 2px 2px 0px 2px;

  }
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
  transform: none;
}
}