
.container{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  padding: 3vw;
}
.flip-card-inner {
  padding: 4px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: -1px 0px 5px grey, 0 1px 5px grey, 1px 0 5px grey, 0 -1px 5px grey;
}
.flip-card-front {
  background-color: #d4dbe6;
  color: black;
}

.flip-card-back {
  background-color: #cfca9f;
  color: black;
  transform: rotateY(180deg);
}
h2{
  text-align: center;
  margin: auto;
  padding:20px;
  align-self: center;
  justify-content: center;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin:auto;
}
@media all and (min-width: 800px){
  .flip-card {
    width: 300px;
    height: 300px;   
  }
}
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }
  .flip-card-front, .flip-card-back {
    position: static;
    transform:none;
  }
  .flip-card-back{
    background-color: transparent;
    visibility: hidden;
  }
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
  transform: none;
}
}