html{
  scroll-behavior: smooth;
}
.headers{
  display:grid;
  grid-template-columns: 100vw;
  grid-template-rows: 150px;
}
.above2{
  grid-column: 1 / -1;
  grid-row: 1/ span 1;
  z-index: -1;
}
.above2 img{
  object-fit: cover;
}
.above1{
  -webkit-animation: loadingin 3s ease-in-out;
  -moz-animation: loadingin 3s ease-in-out;
  -o-animation: loadingin 3s ease-in-out;
  animation: loadingin 3s ease-in-out;
  grid-column:1/-1;
  grid-row: 1/ span 1;
  z-index: 1;
}
.above1 img{
  max-height: 150px;
  object-fit: contain;
  z-index: 1;
}
body{
background-color: #d4dbe6;
font-size: 18px;
margin: 0;
padding: 0;
font-family: 'Arial';
}

h1{
font-size: 50px;
line-height: 1;
padding: 10px 0;
text-align: center;
font-family: 'Graphik',sans-serif;
}

h2{
font-size: 32px;
line-height: 1.5;
text-align: center;
}

h3{
  font-size: 25px;
  line-height: 1.5;
  }

nav{
  text-align: left;
  margin:0;
  padding:0;

}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
nav li{
  position: relative;
  flex: 1 1 50%; 
  background-color: #cfca9f;  
  padding:0;
}
nav .user {
  position: relative;
  flex: 1 1 50%;
  display:inline;
}
nav a{
  position: relative;
  color: black;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
nav a img{
  width:16px;
  height:16px;
}
nav .navimage{
  object-fit: cover;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  width:0vw;
  margin:auto;
  transition: width 2s;
}
nav a:hover .home,nav a:hover .about, nav a:focus-within .home, nav a:focus-within .about{
  width:60px;
}
nav a:hover .featured, nav a:focus-within .featured{
  width:85px;
}
nav a:hover .sold,nav a:focus-within .sold{
  width:50px;
}
nav a:hover .icon, nav a:focus .icon{
  width:25px;
}
.on .home,.on .about{
  width:60px;
}
.on .featured{
  width:85px;
}
.on .sold{
  width:50px;
}
.on:hover .navimage, .on:focus-within .navimage{
  width:0px;
}
.on{
  text-decoration: underline;
}
nav a:focus{
  text-decoration: underline; 
}
footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a img{
  width:15px;
  height:15px;
  padding:3px;
}
.skip a{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top:-40px;
}

.skip a:focus{
position: absolute;
top:0px; 
}
*:focus{
text-decoration:underline;
outline:5;
}
footer{
background-color: #cfca9f;
color: black;
padding-top: 20px;
text-align: center;
}
footer ul{
  list-style-type: none;  
  margin: 0;
  padding: 10px;
}
footer li a {
  color:black;
  padding: 10px;
  text-decoration: none;
}
footer li{
  display:inline;
}
.fleximage{
  display: flex;
  align-items: center;
  justify-content: center;
  width:40vw;
  margin:auto;
  padding: 5px 0 30px;
  }
.text-block{
  padding: 30px;
  margin: auto 10px;
  }
img{
  width: 100%;
  height: 100%;
}
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }
  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }
  nav .navimage{
    display:none;
  }
  nav a:hover{
    text-decoration: underline;
  }
  
  }

@media all and (min-width:600px){
  nav ul {
    flex-flow: row wrap;
  }
  nav li{
    flex: 1 1 33.3333333333%; 
  }
  nav li:nth-child(1){
    order: 1;
  }
  nav li:nth-child(2){
    order: 2;
  }
  nav li:nth-child(3){
    order: 4;
  }
  nav li:nth-child(4){
    order: 5; 
  }
  nav .user {
    flex: 1 1 33.3333333333%;
  }
  nav .user:nth-child(5) {
    order: 3;
  }
  nav .user:nth-child(6) {
    order: 6;
  }

}
@media all and (min-width: 800px){
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
  }
  nav li{
    flex: 3; 
    padding:0;
  }
  nav .user {
    flex: 1;
    display:inline;
  }
nav li:nth-child(1){
  order: 1;
}
nav li:nth-child(2){
  order: 2;
}
nav li:nth-child(3){
  order: 3;
}
nav li:nth-child(4){
  order: 4; 
}
nav .user:nth-child(5) {
  order: 5;
}
nav .user:nth-child(6) {
  order: 6;
}
}
