html{
  scroll-behavior: smooth;
}

body{
background-color: #737373;
font-size: 18px;
margin: 0;
padding: 0;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
}

nav li{
display:inline;
padding-right:20px;

}

nav a{
color: black;
font-weight: bold;
text-decoration: none; 
}
nav a:hover{
text-decoration: underline; 

}
nav a:focus{
text-decoration: underline; 

}
/*Your Code Here*/
/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/


.skip a{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top:-40px;
}
.skip a:hover{
position: absolute;
top:0px; 

}
*:focus{
border: 2px solid black;
}

/*Your Code Here*/
/*Write selector/rule property to position the skip class element*/

/*Your Code Here*/
/*Write selector/rule property to style all elements when in focus*/


nav{
background-color: #ddd;
padding: 25px 0; 
text-align: left;
}

footer{
background-color: black;
color: white;
padding-top: 30px;
text-align: center;
}




.container{
display: grid;
grid-template-columns: 1fr 5fr 1fr;
grid-template-rows: auto auto auto auto auto;
grid-row-gap: 15px;
}

header{
background-attachment: fixed; /* Parallax effect */     
background-position: center;  /* Parallax effect */
background-repeat: no-repeat; /* Parallax effect */
background-size: cover;       /* Parallax effect */
color: white;
height: 400px;                /* Parallax effect */

/*Your Code Here*/
/*Set background-image to header.jpg */
background-image: url("../images/header.jpg");

grid-column: 1 / -1;  /*from 1 to end, basically span all columns*/
grid-row: 1 / auto;   /*Can you rewrite it?*/
}

header p{
color: white;
font-size: 24px;
padding: 0 100px;
text-align: center;
}

.about, .method, .clients, .contact{
grid-column: 2 / span 1;

}

.about-image, .method-image, .clients-image, .contact-image{
grid-column: 1 / -1; 
max-height: 700px;
overflow: hidden;

}

.about, .about-image{
grid-row: 2/ span 1;

}

.method, .method-image{
grid-row: 3/ span 1;

}


.clients, .clients-image{
grid-row: 4/ span 1;

}


.contact, .contact-image{
grid-row: 5/ span 1;

}

.text-block{
background-color: rgba(255, 255, 255, .8);
border: 10px solid black;
padding: 30px;
margin: auto;

}


@media all and (min-width: 800px){
nav{
  padding: 30px 0px;
  text-align: right;
  margin: auto 0;
}

.container{
  display:grid;
  grid-template-columns: 50px auto 500px auto 50px;
  grid-template-rows: 400px 400px 400px 400px 400px;
}

.about, .clients, .method-image, .contact-image{
  grid-column: 3/ span 2;
}

.about-image, .clients-image, .method, .contact{
  grid-column: 2 /span 2;
}
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

.skip a{
  -webkit-transition: none; /* sets to default setting */
  transition: none;        /* sets to default setting */
 }

/*Turn off parallax*/
header{
  background-attachment: initial;
}
}